.page {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header {
  display: flex;
  justify-content: center;
  padding-block: 2rem;
  background-color: var(--ati-header-background-color);
  /* background-color: var(--wa-color-neutral-fill-quiet); */
}

.headerContent {
  min-width: var(--ati-content-min-width);
  max-width: var(--ati-content-max-width);
  width: -webkit-fill-available;
  padding-inline: var(--ati-content-padding-inline);
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-block: var(--ati-content-padding-block);
  align-self: center;
  min-width: var(--ati-content-min-width);
  max-width: var(--ati-content-max-width);
  width: -webkit-fill-available;
  padding-inline: var(--ati-content-padding-inline);
}
.centerContent {
  justify-items: center;
  align-items: center;
}

.nav {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: var(--wa-space-2xs);
  padding-block: var(--wa-space-xs);
  /* background: var(--wa-color-brand-fill-quiet); */
  /* border-radius: var(--wa-border-radius-m); */
  /* box-shadow: var(--wa-shadow-s); */
}

a.navLink {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  color: #777;
  font-weight: 600;
  font-size: 0.95rem;
  border-radius: var(--wa-border-radius-m);
  padding: 0.5rem 1rem;

  &:hover {
    background: var(--wa-color-neutral-fill-quiet);
    text-decoration: none;
    color: var(--wa-color-brand-fill-loud);
  }
}
a.navLinkActive {
  background: var(--wa-color-brand-fill-quiet);
  color: var(--wa-color-brand-fill-loud);
}

wa-dropdown.navLink {
  display: inline-flex;

  > wa-button {
    --text-color: #777;
    font-weight: 600;
    font-size: 0.95rem;
    border-radius: var(--wa-border-radius-m);

    &:hover {
      --text-color: var(--wa-color-brand-fill-loud);

      &::part(base) {
        background-color: transparent;
      }
    }

    &:not([data-active='false']) {
      --text-color: var(--wa-color-brand-fill-loud);

      &::part(base) {
        background: var(--wa-color-neutral-fill-quiet);
        color: var(--wa-color-brand-fill-loud);
      }
    }
  }
}
