:root {
  --ati-background-color: #fafafa;
  --ati-content-padding-block: 2rem;
  --ati-content-padding-inline: 3rem;
  --ati-content-max-width: 2400px;
  --ati-content-min-width: 400px;
  --ati-nav-bar-width: 60px;

  color-scheme: light dark;
}

/* https://backers.webawesome.com/docs/usage#waiting-for-components-to-load */
:not(:defined) {
  visibility: hidden;
}

a,
a:visited,
a:link,
a:active {
  color: rgb(26, 115, 232);
  text-decoration: inherit;
}
a:hover {
  color: rgb(26, 115, 232) !important;
  cursor: pointer;
}

body {
  /* font-family: font-family-body);
  font-size: font-size-m);
  font-weight: font-weight-body); */
  background-color: var(--ati-background-color);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;

  text-underline-offset: 2px;
  overflow-y: scroll;
}

#root {
  display: contents;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  /* a:hover {
    color: #747bff;
  } */
  button {
    background-color: #f9f9f9;
  }
}

table {
  th,
  td {
    white-space: nowrap;
  }

  th {
    padding-block: 1rem;
  }

  tbody {
    td {
      min-height: 48px;
      vertical-align: middle;
      padding: var(--mantine-spacing-xs);
    }

    tr:hover {
      background-color: rgba(200, 200, 200, 0.1);

      &,
      + tr {
        border-top-color: rgba(200, 200, 200, 0.2);
      }
    }
  }
}
