.container {
  min-width: var(--ati-nav-bar-width);
  max-width: var(--ati-nav-bar-width);
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  background-color: #fff;
  border-right: 1px solid var(--wa-color-neutral-fill-normal);
  padding-block: var(--wa-space-s);
  box-shadow: var(--wa-shadow-m);
}

.logo {
  width: 65%;
}

.bottom {
  position: absolute;
  bottom: var(--wa-space-xs);
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--wa-color-neutral-fill-quiet);
  margin-block: var(--wa-space-xs);
}
